In [2]:
import pandas as pd
 

dt = [[1,2],[3,4]]
df = pd.DataFrame(dt, columns = ['col1', 'col2'])

df

   col1  col2
0     1     2
1     3     4

In [3]:
df2 = df

In [4]:
df2

   col1  col2
0     1     2
1     3     4